.description,.interestsInformation,.photo {
    border:solid 1px grey;
    margin-bottom: 2%;
    padding: 2% 0;
}


.photo img{
    border-radius: 50%;
    max-width: 20%;
    border:solid 1px grey;
}
