.buddiesContainer {

    position: relative;
    top:25vh;
}

.navBuddy {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:3%;
}

.buddiesImg {
    max-width: 20%;
    border-radius: 50%;
}

.buddyPanel {
    padding: 0 4%;
}

.buddyPanel:last-child {
    margin-bottom: 11vh;
}

.none {
    display: none;
}

.buddyHidden {
    display: none;
}

.buddyCircle{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(97,168,169);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navBuddy a {
    text-decoration: none;
}

.buddyCircle.lead{
    background-color: rgb(194 200 200);

}
.buddyCircle p {
    
    text-align: center;
    color:white;
    font-weight: bold;
}

.underlineBuddy {
    width: 100%;
    height:4px;
}

.underlineBuddy .first{

    background-color: rgb(97,168,169);
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    height:4px;
}   

.underlineBuddy .second{

    background-color: rgb(194 200 200);
    width: 50%;
    margin-top: 2%;
    margin-left: 50%;
    margin-bottom: 2%;
    height:4px;
}   

.active {

    display: block;
}

.disabled {

    display: none;
}

.leadBuddy img {

    margin-top: 12%;
}

.buddyTypeNavBar {

    position: fixed;
    top: 8vh;
    width: 100%;
    z-index: 99;
    background-color: white;
    height: 16vh;
}